div.two-white-blocks {
  background: lightgray;
  padding: .5em;
  margin: 1em 0;
}
div.white-bg-block {
  border: 1px solid red;
  padding: 1em;
  padding-top: .3em;
  margin: 1em 0;
}
hr.image-separator {
  height: 0;
  line-height: 0;
  font-size: 0;
}
div.block-with-image:before,
div.white-bg-block:before {
  content: 'block with white background';
  background: brown;
  color: yellow;
  font-size: .5em;
  display: block;
}
div.block-with-image:before {
  content: 'block with image on left';
}
div.block-with-image {
  border: 1px solid green;
  padding: 1em;
  padding-top: .3em;
  margin: 1em 0;
}
.full-weight-header {
  display: block;
  background: lightyellow;
  margin: 1em 0 4px;
}
.test-div {
  background: yellow;
  padding: 1em;
}
h4.orange-header {
  color: orange;
  margin: 1em 0 .5em 0;
  font-weight: bold;
}

