@font-face {
  font-family: spoiler;
  font-weight: bold;
  src:url('../fonts/fbspoileren-bold-webfont.eot')            format('enbedded-opentype'),
      url('../fonts/fbspoileren-bold-webfont.woff')           format('woff'),
      url('../fonts/fbspoileren-bold-webfont.ttf')            format('truetype'),
      url('../fonts/fbspoileren-bold-webfont.svg#lato-light') format('svg');
}
@font-face {
  font-family: atzar;
  font-weight: bold;
  src:url('../fonts/almoni-tzar-aaa-regular-webfont.eot')            format('enbedded-opentype'),
      url('../fonts/almoni-tzar-aaa-regular-webfont.woff')           format('woff'),
      url('../fonts/almoni-tzar-aaa-regular-webfont.ttf')            format('truetype'),
      url('../fonts/almoni-tzar-aaa-regular-webfont.svg#lato-light') format('svg');
}

html {
  font-size: 22px;
}
body {
  font-family: spoiler, sans-serif;
  font-size: 1em;
  margin: 0;
}
body.fontsize1 { font-size: 1.2em; }
body.fontsize2 { font-size: 1.4em; }
body.fontsize3 { font-size: 1.6em; }
body.fontsize4 { font-size: 1.8em; }
body.fontsize5 { font-size: 2.2em; }
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: $wider;
  max-width: 100%;
}
span.phones {
  margin: 0 1em;
  a {
    color: #de4b41;
    &:first-child::after {
      content: '/';
      margin: 0 .5em;
      color: #58823f;
    }
  }
}
@include respondto(medium) {
  header.top .container {
    width: $wide;
  }
  [role="document"] {
    background: url(../images/bg.jpg) lightyellow;
    z-index: 1;
    position: relative;
    padding-top: 80px;
  }
}
