// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0fae60;

$wide: 1000px;
$wider: 1280px;
// Defining values
@mixin smaller($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 639px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (max-width: 1199px) {
      @content;
    }
  }
}
@mixin respondto($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 640px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
