body > footer {
  @include smaller(small) {
    padding: 0 .5em;
  }
  > .container {
    width: $wide;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h3 {
      display: none;
    }
    a {
      text-decoration: none;
      color: #525252;
      line-height: 1.5;
    }
    @include smaller(small) {
      font-size: .8rem;
      line-height: 1;
    }
    > section {
      &:last-of-type {
        flex: 1 0 100%;
      }
      @include smaller(small) {
        margin-bottom: 1em;
      }
    }
  }
  
}
