header.top {
  background: #fff;
  position: relative;
  @include respondto(medium) {
    &:after {
      content: '';
      position: absolute;
      top:100%;
      height: 40px;
      background: url(../images/header-shadow.png) 50% 0 no-repeat;
      width: 100%;
    }
  }
  nav.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a.social {
      width: 20px;
      height: 20px;
      margin: 0 0 0 10px;
      background-size: 100%;
      &.wa { background-image: url(../images/wa.svg) }
      &.fb { background-image: url(../images/fb.svg) }
      &.yo { background-image: url(../images/yt.svg) }
      &.in { background-image: url(../images/in.svg) }
    }
    a.lang {
      color: #525252;
    }
    span.phones {
    }

    fieldset {
      border: none;
      padding: 0;
      button {
        border: 0;
        padding: 0;
        line-height: 20px;
        background: 0;
        outline: hidden;
        cursor:pointer;
        &:first-child {
          font-size: 2rem;
        }
        &:last-child {
          font-size: 1.5rem;
        }
      }
    }
  }
  .nav-primary > div { height: 100%; }
  ul#menu-primary_navigation  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    li {
      list-style: none;
      padding: 0;
      flex: 1 1 auto;
      text-align: center;
      + li:before {
        position: absolute;
        vertical-align: top;
        content: '';
        height: .7em;
        width: 1px;
        background-color: #3aa898;
      }
      a {
        line-height: .7;
        display: inline-block;
        width: 100%;
        padding: 0 .5em;
        box-sizing: border-box;
        white-space: wrap;
        color: #525252;
      }
      &:first-of-type a {
        padding-right: 0;
      }
      &:last-of-type a {
        padding-left: 0;
      }
    }
  }

    
  .container {
    height: 115px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }
  .social {
    height: 50%;
  }
  .brand {
    height: 100%;
    width: 200px;
    font-size: 0;
    position: relative;
    z-index: 10;
    @include respondto(small) {
      margin-right: -30px;
    }
    &:before {
      content: '';
      position: absolute;
      @include respondto(small) {
        border-radius: 0px 0px 50% 50% / 0px 0px 30px 30px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
        background: url(../images/logo.png) no-repeat;
        width: 100%;
        height: 176px;
      }
    }
  }
  @include respondto(small) {
    .nav-primary {
      width: calc(100% - 200px);
      height: 50%;
    }
  }
  @include smaller(small) {
    & {
      box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
      background: url(../images/bg.jpg);
    }
    .container {
      flex-direction: row;
      height: auto;
      align-items: center;
    }
    .brand {
      width: 80px;
      height: 60px;
      &:before {
        height: 100%;
        width: 100%;
        background-image: url(../images/logo-only.png);
        background-size: 100% auto;
      }
    }
    nav.social {
      display: inline-flex;
      flex: 1 0 50%;
    }
    .phones {
      a {
        display: block;
        white-space: nowrap;
      }
      a::after { display: none; }
    }
    a.social {
      display: none;
    }
    .nav-primary {
      border-top: 1px solid;
      margin-top: .5em;
      ul#menu-primary_navigation li {
        position: relative;
        &:before {
          height: 100%;
        }
      }
      ul#menu-primary_navigation li a {
        padding: 0;
        padding-top: .5em;
        font-size: .7rem;
      }
    }
  }
}
