body.home {
  main.main {
    > article {
      margin: 0 auto;
      width: $wide;
      max-width: 100%;
      color: #525252;
      display: flex;
      flex-wrap: wrap;
      > div {
        flex: 1 0 50%;
        box-sizing: border-box;
        @include respondto(medium) {
          &:first-of-type {
            padding-left: 3em;
            border-left: 1px dashed gray;

          }
        }
        @include respondto(medium) {
          &:last-of-type {
            padding-right: 3em;
          }
        }
        h3 {
          font-weight: 700;
          margin: 0 0 1em;
          font-size: 1.1em;
        }
      }
      p {
        margin-bottom: 1em;
      }
      p strong {
        color: #de4b41;
        font-weight: 700;
      }
      pre {
        overflow: hidden;
        margin-top: 1em;
        a {
          color: #58823f;
        }
        @include smaller(small) {
          a {
            font-size: .8rem;
          }
        }
      }
    }
  }
  .video-events {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    @include respondto(medium) {
      width: $wider;
    }
    h2 {
      background: rgba(58,168,162,.8);
      color: #fff;
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 2em;
      height: 2em;
      margin-bottom: 3px;
      flex: 1 0 100%;
      @include respondto(medium) {
        order: 1;
        text-indent: 705px;
      }
    }
    > section {
      order: 3;
      flex: 1 0 554px;
      background: #fff;
      padding: 4px;
      box-sizing: border-box;
      @include smaller(medium) {
        flex-shrink: 1;
      }
    }
    iframe {
      flex: 1 1 675px;
      background: #fff;
      box-dizing: border-box;
      @include respondto(medium) {
        margin-left: 4px;
        padding: 10px;
        order: 2;
        height: 380px;
      }
    }
    .event {
      font-size: 1rem;
      height: 143px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      margin-bottom: 4px;
      @include smaller(medium) {
        height: auto;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid;
      }
      img {
        margin-left: 1em;
        width: 190px;
        height: 143px;
      }
      h5 {
        color: #de4b41;
        font-size: 1.4rem;
        font-weight: 700;
      }
      div {
        @include respondto(medium) {
          width: 300px;
          max-width: calc(100% - 200px);
        }
      }
      div:last-child {
        strong {
          font-weight: 300;
          display: block;
        }
        .phones {
          margin: 0;
        }
      }
    }
    .news {
      background: #edeeac;
      padding: .4em .3em;
      strong {
        color: #de4b41;
        font-size: 1.4rem;
      }
      a {
        color: #525252;
        text-decoration: none;
        + a {
          border-right: 1px solid;
          padding-right: .3em;
          margin-right: .3em;
        }
      }
    }
  }
  #gallery-1 {
    width: $wider;
    max-width: 100%;
    figure {
      padding: 3px;
    }
  }
  #viewbigimage {
    position: fixed;
    box-shadow: 0 0 4px 3px rgba(0,0,0,.5), 0 0 0 4000px rgba(255,255,255,.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:empty {
      display: none;
    }
  }
  section.gallery {
    width: $wider;
    max-width: 100%;
    .g_allery {
      display: flex;
      figure {
        flex: 0 0 auto;
        margin: 3px;
      }
    }
  }
  #mapatarim {
    display: none;
  }
  @include respondto(large) {
    #mapatarim {
      display: block;
    }
  }
}
main h1,
.h1-with-border h1,
.home h1 {
  flex-basis: 100%;
  color: #3aa898;
  font-size: 3rem;
  font-weight: 700;
  font-family: atzar, sans-serif;
  letter-spacing: -.03em;
  margin: 0 0 .5em;
  text-shadow: 0px 2px 2px #fff, 0 -2px 2px #fff, 2px 0 2px #fff, 2px 2px 2px #fff, 4px 4px 5px rgba(0,0,0,0.5);
  @include smaller(medium) {
    margin-top: 1em;
  }
  @include smaller(small) {
    font-size: 2rem;
    line-height: 1;
    text-shadow: none;
    margin-top: .5em;
  }
}

body.home main.main>article>div,
main .two-white-blocks,
main .block-with-image {
  li {
    padding: 0 0.8em 0 0;
    position: relative;
    margin-bottom: .5em;
    &:before {
      content: '';
      border-radius: 50%;
      position: absolute;
      width:  9px;
      height: 9px;
      top: 9px;
      right: 0;
    }
  }
  $colors: #f7941e #f7d909 #aecc36 #3aab9b #a34b9d #7a959f #dc040e #de4b41 #154f7e;
  $i: 1;
  @each $col in $colors {
    li:nth-of-type(#{$i})::before { background-color: #{$col}; }
    $i: $i+1;
  }
}
body.page {
  main.main {
    .page-header { display: none; }
    @include smaller(medium) {
      padding: 0 .5em;
    }

    h1,
    div.block-with-image {
      @include respondto(medium) {
        margin-right: 140px;
        width: $wide;
      }
      max-width:100%;
    }


    p > strong {
      font-size: 1.15em;
    }

    div.block-with-image {
      position: relative;
      h1 {
        margin-right: 0;
      }
      p {
        margin: 0 0 1em 0;
      }

      hr.image-separator  {
        display: none;
      }
      @include respondto(medium) {
        hr.image-separator ~ p {
          width: 560px;
        }
        img {
          float: left;
          margin: -1em 2em 0 0 ;
        }
        img.iam-too-wide {
          margin-left: -70px;
        }
      }
      h4.orange-header {
        color: #de4b41;
        font-size: 1.2em;
      }
      &:before {
        content: '';
        border-left: 1px dashed #888;
        width: 1px;
        height: 90%;
        max-height: 410px;
        position: absolute;
        right: 565px;
        top: 3em;
      }
      &:after {
        display: table;
        clear: both;
        height: 1px;
        content: '';
      }
      + div.block-with-image {
        margin-top: 1em;
        &:before {
          display: none;
        }
      }
      @include smaller(small) {
        &:before {
          display: None;
        }
        img {
          float: None;
          max-width: 90%;
          margin: .5em auto;
        }
      }
    }

    h4.full-weight-header {
      margin-bottom: 3px;
      margin-top: 10px;
      color: #fff;
      font-size: 1.5em;
      line-height: 1.5;
      height: 1.5em;
      padding-right: 140px;
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        height: 1.5em;
        background: rgba(122,149,159,.7);
        z-index: -1;
      }
      @include smaller(small) {
        & {
          padding: 0;
        }
      }
    }
    .two-white-blocks {
      display: flex;
      margin-bottom: 1em;
      flex-wrap: wrap;
      > div {
      }
    }
    div.white-bg-block {
      background: rgba(255,255,255,.7);
      @include respondto(small) {
        padding: 24px;
        padding-right: 140px;
        width: 700px;
        display: inline-block;
      }
      box-sizing: border-box;
      vertical-align: top;
      + div {
        @include respondto(small) {
          margin-right: 10px;
          width: 560px;
          padding-right: 24px;
          padding-left: 65px;
        }
      }
      p {
        margin-bottom: 1.5em;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
.panel-grid {
  .textwidget {
    line-height: 1.2;
  }
  li {
    line-height: 1;
  }
  p {
    margin: 1em 0;
  }
  p > strong {
    font-size: 1.2em;
  }
}
.panel-row-style {
  &.dotted-separator {
    > div:first-child {
      position: relative ;
      border-left: 1px dashed gray;
      .widget {
        margin-left: 2em;
      }
    }
  }
}
.orange-title {
  background: #f0a647;
  h3 {
    color: #fff;
    height: 2em;
    line-height: 2em;
    width: $wider;
    margin: 0 auto;
  }
}
#pg-8-2 {
  .panel-grid-cell {
    background: rgba(255,255,255,.7);
  }
}


.wider {
  width: $wider;
}
.with-gap {
  border: 1px solid;
  display: flex;

  > div:first-child {
    margin-left: 4px;
  }
}
.white-bg {
  background: rgba(255,255,255,.7);
}
.padded-right {
  padding-right: 140px;
}
